.header {
    margin: 0 2.5rem;
    padding: 0.5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.headerLeft{
    display: flex;
    align-items: center;
}

a > span{
    margin: 0px 30px;
    font-size: 1.3rem;
    cursor: pointer;
    color: white;
}

a > span:hover{
    color: red;
}

.header__icon {
    width: 80px;
    cursor: pointer;
}

